[submodule "Kent_State_University/Fall25/Advance_database_system/advanced-database"]
	path = Kent_State_University/Fall25/Advance_database_system/advanced-database
	url = https://github.com/Ben11304/advanced-database.git
